.tabs-a__tab
  background-color:#E8E8E8
.bg
  &--gris 
    background-color: #BFCFD0 !important
  &--gris2 
    background-color: #BFCFD0 !important
  &--gris3
    background-color: #E5EBEC !important
  &--1
    background-color: $color-primario
  &--1-claro
    background-color: #FFD2D3 !important
  &--3
    background-color: $color-acento-contenido
.psicologia-color
  
  .cuadros-p
    flex-grow: 1
    overflow: hidden
    transition: all 0.5s ease-in-out;
    min-height: 452px
    width: fit-content
    &:hover 
      width: fit-content
    &:hover  .cuadros-p_textos
      opacity: 1
      display: block
    &:hover  .cuadros-p_titulo
      display: none
    &_titulo
      display: block
    &--rojo
      background-color: #ff0000
    &--naranja
      background-color: #ff9100
    &--amarillo
      background-color: #ffd200
    &--verde
      background-color: #1FA34F
    &--azul
      background-color: #0074D9
    &--morado
      background-color: #5E35B1
    &--negro
      background-color: black
    &--blanco
      backgroud-color: white
    &_textos
      display: none
.slyder-a__btn--sigt
  right: 0 !important
  opacity: 1 !important
  background-color: transparent
  border: none
  background-size: 36px 44px
  background-image: url(../assets/componentes/arrow-white.svg)

.slyder-a__btn--atrs
  left: 0 !important
  opacity: 1 !important
  background-color: transparent
  border: none
  background-image: url(../assets/componentes/arrow-white.svg)
  background-size: 36px 44px
.slyder-a__bullets
  opacity: 0
